#nav-bar {
    position: sticky;
    top: 0px;
    height: 5em;
    width: 100%;
    background-color: #0d749c;
    color: #e8fdff;
    padding: 0 2em 0 2em;
    z-index: 1;
}

#nav-bar .logo {
    height: 5em;
    width: 5em;
    float:left;
}

#nav-bar .header {
    font-size: 2rem;
    margin-left: 10px;
    float:left;
    line-height: 80px;
}

#compose-button {
    float: right;
    text-align: center;
    padding: 0.8rem;
    margin: 1em 0;
    color: #0d749c;
    border-radius: 1em;
    background-color: whitesmoke;
    border: black solid 1px;
}

#compose-button:hover {
    background-color: whitesmoke; 
    color: black;
}