#nav-bar {
    position: fixed;
    top: 0px;
    height: 5rem;
    width: 100%;
    background-color: #0d749c;
    color: #e8fdff;
    padding: 0 2rem 0 2rem;
    z-index: 1;
}

#nav-bar .logo {
    height: 5rem;
    width: 5rem;
    float:left;
}

#nav-bar .header {
    font-size: 2rem;
    margin-left: 10px;
    float:left;
    line-height: 80px;
}

#compose-button {
    float: right;
    text-align: center;
    padding: 0.8rem;
    margin: 1rem 0;
    color: #0d749c;
    border-radius: 1rem;
    background-color: whitesmoke;
    border: black solid 1px;
}

#login {
    width: 1em;
    color: black;
}

#login-button {
    float:left;
    text-align: center;
    padding: 0.8rem;
    margin: 1rem 0;
    color: #0d749c;
    border-radius: 1rem;
    background-color: whitesmoke;
    border: black solid 1px;
}

#register-button {
    float:left;
    text-align: center;
    padding: 0.8rem;
    margin: 1rem 0;
    color: #0d749c;
    border-radius: 1rem;
    background-color: whitesmoke;
    border: black solid 1px;
}

#logout-button {
    float:left;
    text-align: center;
    padding: 0.8rem;
    margin: 1rem 0;
    color: #0d749c;
    border-radius: 1rem;
    background-color: whitesmoke;
    border: black solid 1px;
    display: none;
}

#compose-button:hover {
    background-color: whitesmoke; 
    color: black;
}