#nav-bar {
    position: sticky;
    top: 0px;
    height: 80px;
    width: 100%;
    background-color: #00a087;
    color: #e8fdff;
    padding: 0 2em 0 2em;
    z-index: 1;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
    float:left;
}

#nav-bar .header {
    font-size: 2rem;
    margin-left: 10px;
    float:left;
    line-height: 80px;
}

#compose-button {
    float: right;
    text-align: center;
    padding: 0.8rem;
    margin: 16px 0;
    color: #00a087;
    border-radius: 5px;
    background-color: white;
    border: black solid 1px;
}

#compose-button:hover {
    background-color: whitesmoke; 
    color: black;
}