main .new-tweet {
    background-color: #eee;
    border: solid 1px lightgrey;
    border-radius: 0.3rem;
    overflow: auto;
    padding: 0 0.3rem 0.2rem 0.3rem;
    z-index: 1;
}

main .new-tweet h2 {
    margin: 0.6rem;
    border-bottom: 1px solid;
    text-align: left;
}

main .new-tweet textarea {
    padding: 0.2em;
    width: 100%;
}

main .new-tweet form input {
    margin-left: 0.5rem;
    float: left;
}

main .new-tweet form .counter {
    margin-right: 0.5rem;
    float: right;
}