main .tweets {
    overflow: auto;
    margin-top: 1rem;  
}

main .tweets article {
    border: solid 1px ghostwhite;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    opacity: 0.7;
}

main .tweets article:hover {
    opacity: 1;
}

main .tweets header {
    background-color: ghostwhite;
    padding-top: 1rem;
    height: 5rem;
    width: 100%;
    overflow: auto;
    position: relative;
}

main .tweets h2 {
    float: left;
    padding-left: 4rem;
    margin: 0;
}

main .tweets .avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    float: left;
    padding: 0.5rem;
    border-radius: 20%;

}

main .tweets .handle {
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    padding-top: 0.5rem;
    padding-right: 0.3rem;
}

main .tweets p {
    text-align: left;
    padding-left: 10px;
}

main .tweets footer {
    width: 100%;
    background-color: ghostwhite;
    border-top: 1px solid ghostwhite;
    padding: 0.5rem;
    font-size: x-small;
    overflow: auto;
}

main .tweets footer span.timestamp {
    float: left;
    text-align: left;
}

main .tweets footer span.icons {
    float: right;
    text-align: right;
}

